@model IEnumerable<Ntier.BilgeSchool.Model.Entity.AppUser>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h3 class="text-primary"><b>Kullanıcı Liste</b></h3>
<p>
    @Html.ActionLink("Yeni Kayıt +", "Create")
</p>

<div class="panel-body">
    <div class="adv-table editable-table ">
        <div class="space15"></div>
        <table class="table table-striped table-hover table-bordered" id="editable-sample">
            <thead>
                <tr>
                    <th>Sıra No</th>
                    <th>Adı</th>
                    <th>Rol</th>
                    <th>Durum</th>
                    <th>Duzenle</th>
                    <th>Detay</th>
                    <th>Sil</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Role)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>

                    <td>@Html.ActionLink("Düzenle", "Edit", new { id = item.ID })</td>
                    <td>@Html.ActionLink("Detay", "Details", new { id = item.ID })</td>
                    <td>
                        @Html.ActionLink("Sil", "Delete", new { id = item.ID })


                    </td>
                </tr>
                }

            </tbody>
        </table>
    </div>
</div>