@model IEnumerable<Ntier.BilgeSchool.Model.Entity.Teacher>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<h3 class="text-primary"><b>Öğretmen Liste</b></h3>
<br />

<p>
    @Html.ActionLink("Yeni Kayıt +", "Create")
</p>

<div class="panel-body">
    <div class="adv-table editable-table ">
        <div class="space15"></div>
        <table class="table table-striped table-hover table-bordered" id="editable-sample">
            <thead>
                <tr>
                    <th>Ad</th>
                    <th>Soyad</th>
                    <th>Branş</th>
                    <th>Ders</th>
                    <th>Duzenle</th>
                    <th>Detay</th>
                    <th>Sil</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.TeacherName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TeacherLastName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Branch.BranchName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Course.CourseName)
                        </td>

                        <td>@Html.ActionLink("Düzenle", "Edit", new { id = item.ID })</td>
                        <td>@Html.ActionLink("Detay", "Details", new { id = item.ID })</td>
                        <td>
                            @Html.ActionLink("Sil", "Delete", new { id = item.ID })


                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>