@model Ntier.BilgeSchool.Model.Entity.AppUser
@{
    ViewBag.Title = "Kayıt";
}

<h3 class="text-primary"><b>Yeni Yönetici Giriş Kaydı</b></h3>
<br />

<body class="login-body">
    @if (ViewBag.Exists != null)
    {
        <span class="text-danger">@ViewBag.Exists</span>
    }
    else if (ViewBag.Info != null)
    {
        <span class="text-danger">@ViewBag.Info</span>
    }
    <div class="container">

        <form class="form-signin" action="/AdminLogin/Register" method="post" enctype="multipart/form-data">
            <h2 class="form-signin-heading">Yeni Kayıt</h2>
            <div class="login-wrap">



                <label> Adı </label>
                @Html.TextBoxFor(x => x.FirstName, null, new { @class = "form-control", placeholder = "lütfen adınızı yazın" })
                @Html.ValidationMessageFor(x => x.FirstName, null, new { @class = "text-danger" })
                <br />
                <label> SoyAdı </label>
                @Html.TextBoxFor(x => x.LastName, null, new { @class = "form-control", placeholder = "lütfen soyadınızı yazın" })
                @Html.ValidationMessageFor(x => x.LastName, null, new { @class = "text-danger" })
                <br />
                <label> Kullanıcı Adı </label>
                @Html.TextBoxFor(x => x.UserName, null, new { @class = "form-control", placeholder = "lütfen kullanıcı adınızı yazın" })
                @Html.ValidationMessageFor(x => x.UserName, null, new { @class = "text-danger" })
                <br />
                <label> Şifre </label>
                @Html.TextBoxFor(x => x.Password, null, new { @class = "form-control", type = "password", placeholder = "lütfen şifre yazın" })
                @Html.ValidationMessageFor(x => x.Password, null, new { @class = "text-danger" })
                <br />
                <label> Şifre Tekrar </label>
                @Html.TextBoxFor(x => x.ConfirmPassword, null, new { @class = "form-control", type = "password", placeholder = "lütfen şifre yazın" })
                @Html.ValidationMessageFor(x => x.ConfirmPassword, null, new { @class = "text-danger" })
                <br />
                <button class="btn btn-lg btn-login btn-block" type="submit">Kaydet</button>

                <div class="registration">
                    Önceden Kayıtlıysanız.
                    @Html.ActionLink("Giriş", "Login", "AdminLogin", null, new { @class = "btn btn-danger" })
                </div>

            </div>

        </form>

    </div>


</body>

