@model IEnumerable<Ntier.BilgeSchool.Model.Entity.Course>

@{
    ViewBag.Title = "Liste";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h3 class="text-primary"><b>Ders Liste</b></h3>
<br />
<p>
    @Html.ActionLink("Yeni Kayıt +", "Create")
</p>

<div class="panel-body">
    <div class="adv-table editable-table ">
        <div class="space15"></div>
        <table class="table table-striped table-hover table-bordered" id="editable-sample">
            <thead>
                <tr>
                    <th>Eğitim Öğretim</th>
                    <th>Dönem</th>
                    <th>Ders Adı</th>
                    <th>Ders Saati</th>
                    <th>Duzenle</th>
                    <th>Detay</th>
                    <th>Sil</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.EducationYear.EducationYearName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Period.PeriodName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CourseName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CourseHour)
                        </td>
                        <td>@Html.ActionLink("Düzenle", "Edit", new { id = item.ID })</td>
                        <td>@Html.ActionLink("Detay", "Details", new { id = item.ID })</td>
                        <td>
                            @Html.ActionLink("Sil", "Delete", new { id = item.ID })


                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>
<a href="@Url.Action("ExportToExcel","Course")" class="btn btn-primary">Excel-Raporu Al</a>